.btn-schedule{
    background: red;
    border: none;
    padding: 5px;
    margin: 0 5px;
    width: 50px;
    border-radius: 10%;
    color: #d9d9d9;
}

.chat-container {
    width: 100%;
    height: 400px; /* Đặt chiều cao cố định cho hộp chat */
    overflow-y: auto; /* Hiển thị thanh cuộn khi nội dung vượt quá chiều cao */
  
    padding: 10px;
    
}

/* Tùy chỉnh thanh cuộn */
.chat-container::-webkit-scrollbar {
    width: 8px;
}

.chat-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.chat-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
